<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- evitar ataques de Cross Site Scripting (injeção de dados) -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">
    <title>BitByBit</title>
    <link rel="shortcut icon" href="../public/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>

    <div class="container">
        <div class="header">
            <div class="icon">
                <img src="../public/img/icone.png" alt="Icone-do-robo!" />
            </div>
            <h1 class="titulo">BitByBit</h1>
            <p class="subtitulo">Decifrando o seu PC, peça por peça.</p>
        </div>

        <div class="card">
            <form id="login-form">
                <input type="text" id="username" name="username" placeholder="  Usuário" required autocomplete="off">
                <input type="password" id="password" name="password" placeholder="  Senha" required autocomplete="off">
                <button type="submit">Entrar</button>
            </form>
            <p class="cadastro-link">Não tem uma conta? <a href="cadastro.html">Cadastre-se</a></p>
        </div>

    </div>

    <script src="renderer.js"></script>
</body>

</html>